@keyframes translateFixedNav {
    0% {
        transform: translateY(-100%);
    } 
    100% {
        transform: translateY(0);
    }
}

@keyframes translateLeft {
    0% {
        transform: translate3d(100%, 0, 0);
    } 
    100% {
        transform: none
    }
}

@keyframes translateRight {
    0% {
        transform: translate3d(-100%, 0, 0);
    } 
    100% {
        transform: translateY(0);
    }
}

@keyframes translateUp {
    0% {
        transform: translate3d(0, 100%, 0);
    } 
    100% {
        transform: translate3d(0,0,0);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    } 
    100% {
        transform: rotate(360deg);
    }
}